/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

/* header  */


.header-main { 
    position:relative;
    height: 780px;
    background-image: url("../images/fox.jpg");
    background-size: cover;
    background-position: center;
 }

.content-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-top: 1px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-main .text-item {
    color: #f7f7f7;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 32px;
    padding-left: 13px;
    margin-top: -4px;
}

.header-main .logo-item {
    width: 71px;
    height: 58px;
}

.header-main .nav-items { 
    display: flex;
    align-items: center; 
}

.header-main .anchor-item { 
    color: #f7f7f7;
    font-family: 'Open Sans';
    text-decoration: none; 
    font-size: 23px;
    line-height: 60px;
}

.header-main .contacts-item { margin-left: 63px; } 

 .header-main .loupe-item { margin-left: 67px; } 

.header-main .anchor-button {
    border: 2px solid #cd6326;
    border-radius: 5px;
    padding: 7px 23px 5px;
    margin-left: 64px;
}

.header-main a.button-hover:hover { background-color: #cd6326; } 

.header-main a.anchor-hover:hover { color: #cd6326; }

/* section survival  */

.survival .h1-item {
    position: absolute;
    left: 120px;
    top: 201px;
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 72px;
    color: #cd6326;
    letter-spacing: 1px;
}

.survival .p-item {
    position: absolute;
    left: 120px;
    top: 322px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 27px;
    color: #f7f7f7;
    width: 274px;
}

.survival .anchor-item {
    position: absolute;
    left: 119px;
    top: 481px;
    border-radius: 5px;
    background-color: #cd6326;
    padding: 16px 42px 17px 41px;
    font-family: 'Open Sans';
    text-decoration: none;
    color: #f7f7f7;
    font-size: 23px;
    line-height: 26.95px;
}

.survival a.anchor-hover:hover { background-color: #e39128; }

/* section latest articles  */

.latest-articles { background-color: #ccc; }

.latest-heading { padding-top: 120px; }

.latest-heading .h1-item {
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333;
}

.latest-heading .p-item {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666;
    margin-top: 19px;
}

.gri-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    margin-top: 121px;
}

.gri-wrapper .left-arrow {
    background-image: url("/images/leftarrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.left-arrow:hover {
    filter: invert(55%) sepia(15%) 
    saturate(1060%) hue-rotate(96deg) 
    brightness(90%) contrast(88%);
    cursor: pointer;
}

.gri-wrapper .right-arrow {
    background-image: url("/images/rightarrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.right-arrow:hover {
    filter: invert(55%) sepia(15%) 
    saturate(1060%) hue-rotate(96deg) 
    brightness(90%) contrast(88%);
    cursor: pointer;
}

.gri-wrapper .deer-item {
    width: 300px;
    height: 360px;
    background-image: url("/images/Deer.jpg");
    background-size: cover;
    background-position: center;
}

.gri-wrapper .squirrel-item {
    width: 300px;
    height: 360px;
    background-image: url("/images/Squirrel.jpg");
    background-size: cover;
    background-position: center;
}

.gri-wrapper .bird-item {
    width: 300px;
    height: 360px;
    background-image: url("/images/bird.jpg");
    background-size: cover;
    background-position: center;
}

.gri-wrapper .h4-deer {
    position: absolute;
    left: 215px;
    top: 246px;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 36px;
    color: #f7f7f7;
}

.gri-wrapper .small-deer {
    position: absolute;
    left: 148px;
    top: 292px;
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 27px;
    color: #f7f7f7;
}


.gri-wrapper .h4-squirrel {
    position: absolute;
    left: 559px;
    top: 246px;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 36px;
    color: #f7f7f7;
}

.gri-wrapper .small-squirrel {
    position: absolute;
    left: 525px;
    top: 292px;
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 27px;
    color: #f7f7f7;
}

.gri-wrapper .h4-bird {
    position: absolute;
    left: 939px;
    top: 246px;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 36px;
    color: #f7f7f7;
}

.gri-wrapper .small-bird {
    position: absolute;
    left: 899px;
    top: 292px;
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 27px;
    color: #f7f7f7;
}